{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - Med Dosage Tracker App{% else %}Welcome to Med Dosage Tracker App{% endif %}
{% endblock %}

{% block navbar %}
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-default">
                <div class="col-md-3">
                    <h2><b>M-D-T</b> | App</h2>
                </div>
                <div class="col-md-9">
                    {% if current_user.is_anonymous %}
                        <a href="{{ url_for('login') }}">Sign In</a>
                        <a href="{{ url_for('register') }}">Sign Up</a>
                    {% else %}
                        <a href="{{ url_for('index') }}">Home</a>
                        <a href="{{ url_for('logout') }}">Sign Out</a>
                    {% endif %}
                </div>
            </nav>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>

{% endblock %}